# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/
*.pot

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Database
*.db
*.sqlite